.git
.gitignore
.env
.venv
__pycache__
.pytest_cache
.mypy_cache
.ruff_cache
coverage.xml
htmlcov
artifacts
mlruns
mlflow.db
data/raw
data/local_csv
data/interim
data/external
data/processed
data/windows
tests
